<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="${contextPath}/resources/css/style.css">
</head>
<body>
<div>

    <div sec:authorize="!isAuthenticated()">
        <h4><a href="/login">Войти</a></h4>

        <h4><a href="/registration">Зарегистрироваться</a></h4>
    </div>

    <div sec:authorize="isAuthenticated()">
        <h4><a href="/logout">Выйти</a></h4>
    </div>

    <h4><a href="/user">Пользователь (только пользователь)</a></h4>
    <div sec:authorize="hasAuthority('ADMIN')">
        <h4><a href="/admin">Список пользователей (только админ)</a></h4>
    </div>
</div>
</body>
</html>